<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>StopWatch</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/bootstrap.css" >
    <link rel="stylesheet" href="css/splash-page.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/clock.js"></script>
  </head>
  <body>
    <div class="row" ng-controller="itemController">
      <h1 class="greeting">Hello, {{ yourName }}!</h1>
      <div class="col-md-4 col-md-offset-4">
        <span class="s1"><div class="splash fade-in">
        </span>
          <h1 class="splash-title fade-in">
            The Revolution of Time :)
          </h1>
          <h2 class="splash-title fade-in">
            Enter your name:
          </h2>
          <a href="#" class="splash-arrow fade-in">
            <img src="img/down-arrow.png" alt="" />
          </a>
          <input class="splash-title fade-in input-text" type="text" ng-model="yourName">
        </div>
        <!-- input and button it add a new item -->
        <div>
            <div id="time" ng-model="input" class="time-digits"></div>
            <div id="starttime"></div>
            <!--<input type="text" ng-model="input"> -->
            <button type="submit" ng-click="add()">
              Record
            </button>
        </div>
        <!-- list of items with a button to remove that item -->
        <ul>
            <li ng-repeat="time in times">
                 {{time}}
                 <button ng-click="remove($index)">
                   delete
                 </button>
            </li>
        </ul>

      </div>
    </div>
  </body>
</html>

<!--
Npm install http-server -g
http-server
QUESTIONS WE HAD WHILE CREATING THIS:
1. where do exactly are you supposed to put the controller,

>
