<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>StopWatch</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/bootstrap.css" >
    <link rel="stylesheet" href="css/splash-page.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/directve.js"></script>
    <script src="js/clock.js"></script>
    <script src="js/service.js"></script>
    <script src="js/directive.js"></script>
  </head>
  <body>
  <div class="row" ng-controller="itemController" ng-cloak>
      <div class="col-md-4 col-md-offset-4">
        <input type="text" ng-model="yourName" placeholder="Enter a name here">
        <h1>Hello {{ yourName }}!</h1>
        <!-- input and button it add a new item -->
            <label for="time">Current Time: </label>
            <div id="time" ng-model="input" style = "margin: 0px 0px 3px 0px"></div>

            <label for="starttime">Start Time: </label>
             <div id="starttime" ng-model = "input" style = "margin: 0px 0px 3px 0px"></div>

             <label for="d"> Time Elapsed: </label>
            <form name="d" style = "margin: 3px 0px 10px 0px">
            <input type="text" size="6" name="d2">
            </form>
           

            <record></record>
            <br>

        <!-- list of items with a button to remove that item -->
        <div>
        <ul style =  "float: left">
            <li style = "margin: 0px 0px 5px 0px" ng-repeat="time in getTimes()">
                 
                {{time}}
                <button ng-click="remove($index)">delete</button>
          
            </li>
        </ul>
        <ul style = "position: relative; float: left">
            <li style = "margin: 0px 0px 5px 0px" ng-repeat = "elapsed in getElapsed()">
              
                Time Elapsed: {{elapsed}} seconds
                <button ng-click="remove($index)">delete</button>
                
            </li>
            
       </ul>
       </div>
     </div>
  </div>

    <div class="footer">
      <p>Practice using Angular.js Service</p>
      <div ng-controller="ContactController">
          <form>
          <label>Name</label>
              <input type="text" name="name" ng-model="newcontact.name"/>
          <label>Email</label>
              <input type="text" name="email" ng-model="newcontact.email"/>
          <label>Phone</label>
              <input type="text" name="phone" ng-model="newcontact.phone"/>
              <br/>
              <input type="hidden" ng-model="newcontact.id" />
           <input type="button" value="Save" ng-click="saveContact()" />
          </form>
      <table>
      <thead>
      </thead>
      <tbody>
      <tr ng-repeat="contact in contacts">
          <td>{{ contact.name }}</td>
          <td>{{ contact.email }}</td>
          <td>{{ contact.phone }}</td>
          <td>
              <a  href="#" ng-click="edit(contact.id)">edit</a> |
              <a href="#" ng-click="delete(contact.id)">delete</a>
          </td>
       </tr>
      </tbody>
      </table>
      </div>
    </div>
  </body>
</html>

<!--
Npm install http-server -g
http-server
QUESTIONS WE HAD WHILE CREATING THIS:
1. where do exactly are you supposed to put the controller,

>
